django
celery
redis
gunicorn
sqlalchemy
pandas
numpy
googlesearch-python
openpyxl
requests
streamlit
langchain
beautifulsoup4
asyncio
pyppeteer
yfinance
cvxopt
scikit-learn
glob2
openai
pandas_datareader
selenium
webdriver_manager
pytz

